VITE_API_URL=/api
VITE_ADDRESS=Jl. Industri Raya No. 12, Jakarta Barat 11740
VITE_PHONE_SALES=(021) 1234-5678
VITE_PHONE_SERVICE=(021) 8765-4321
VITE_EMAIL=info@multistack.co.id
VITE_WHATSAPP=6281234567890
VITE_INSTAGRAM=https://instagram.com/multistackindonesia
VITE_LINKEDIN=https://linkedin.com/company/multistack-indonesia
VITE_FACEBOOK=https://facebook.com/multistackindonesia
